@media only screen and (max-width: 600px) {
	/*.title {
    	margin: 0 auto;
    	text-align: center;
	}*/

	/* menu and menu items style */
	.dropdown {
    	/* width: 100%;
    	text-align: center; */
	}
	.content-title {
    	display: inline-block;
	}
	.content-title-main {
    	font-size: 1.5em;
	}
	.logo-hamburger {
		 width: 24px;
	    height: 24px;
	    position: absolute;
	    margin-left: -25px;
	    margin-top: 12px;
	    /* margin-top: 9px; 13px for open sans, 9px for lato */
    	display: inline-block;
    	/* margin-left : 0px; */
	}

	.dropdown-content.click {
		height: 110px;
	}
	.dropdown-content{
		margin-top: 20px;
		left: -25px;
	}
	/* body content */
	.img-text {
		position: relative;
    	top: -85px;
    	right: -5%;
		font-size: 18px;
		color: white;
	}

	.header {
        margin: 0 auto;
        width: 85%;
        text-align: center;
    }

    .menu-item-p {
    	font-size: 1.3em;
    }
}