@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .title {
        display: inline-block;
        float: left;
        padding-left: 5%;
    }

    /* menu and menu items style */
    .dropdown {
        /*position: relative;
        float: right;
        padding-right: 5%;
        display: inline-block; */
    }
    .dropdown-content {
        margin-top: 20px;
        left: -25px;
    }
    .dropdown-content.click {
        height: 87px;
    }

    /* body content */
    .img-text {
        font-size: 30px;
        position: relative;
        top: -220px;
        right: -5%;
        color: white;
    }

    /* shell */
    .shell-container {
        width: 50%;
    }

    .header {
        margin: 0 auto;
        width: 65%;
    }
}

