.container-pubs {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.content-pubs {
	/* height: 0;
	padding-bottom: 100%; */
	padding-bottom: 40px;
	margin: 0 auto;
}


.pubs-title {
	word-break: break-word;
	text-align: center;
	margin: 0;
	padding-bottom: 5px;
}

.pubs-author {
    font-weight: normal;
    font-style: italic;
	word-break: break-word;
	text-align: center;
	margin: 0;
	padding-bottom: 5px;
}

.pubs-where {
    font-weight: normal;
	word-break: break-word;
	text-align: center;
	margin: 0;
	padding-bottom: 5px;
}

.pubs-type {
    font-weight: normal;
	word-break: break-word;
	text-align: center;
	margin: 0;
	padding-bottom: 5px;
}

.pubs-link {
    font-weight: normal;
	word-break: break-word;
	text-align: center;
	margin: 0;
}

.software-description {
	text-align: justify;
}

/* phones */
@media only screen and (max-width: 600px) {
	.container-pubs {
		padding-top: 20px;
	}

	.content-pubs {
		width: 85%;
	}
}
/* tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px)  {
	.container-pubs {
		padding-top: 60px;
	}

	.content-pubs {
		width: 65%;
	}
}
/* desktop */
@media only screen and (min-width: 1025px) {
	.container-pubs {
		padding-top: 60px;
	}

	.content-pubs {
		width: 50%;
	}
}