/* shell */
body {
  background-color: black;
}
.geeky-header {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: white;
}
.too-geeky-title {
  margin-top: 0;
  background-color: white;

}
#not-geek-link {
  color: magenta;
}
#not-geek-link:link {
  text-decoration: underline;
}
.shell-container {
    margin: 0 auto;
    background-color: black;
}
.shell-banner {
    font-family: 'Ubuntu Mono';
    color: white;
}
.shell-post {
    font-family: 'Ubuntu Mono';
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
    padding: 0.5px;
    color: #00ff00;
}
.shell-post a {
	font-family: 'Ubuntu Mono';
}
.shell-cmd {
    width: 100%;
    color: #00ff00;
    background: transparent;
    font-family: 'Ubuntu Mono';
    word-wrap: break-word;
}
.user-cmd {
    color: #00ff00;
    word-wrap: break-word;
}
.user-cmd:focus {
    outline: none;
    cursor: pointer;
}

.cursor {
    background-color: #00ff00;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #00ff00;
  }
}
@-moz-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #00ff00;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #00ff00;
  }
}
@-ms-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #00ff00;
  }
}
@-o-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #00ff00;
  }
}
/* phones */
@media only screen and (max-width: 600px) {
    .shell-container {
        width: 85%;
    }
    #bear-banner {
      font-size: 14px;
  }
}
/* tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .shell-container {
        width: 65%;
    }
}
/* desktop */
@media only screen and (min-width: 1025px) {
    .shell-container {
        width: 50%;
    }
}